html {
  scroll-behavior: smooth;
}

.nav-item {
  text-transform: uppercase;
  height: 55px;
  margin: 10px;
  padding: 5px;
  border-radius: 2px;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

.nav-item:hover {
  background: #719dc7;
  box-shadow: 0 0 0 10px #719dc7;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.6s;
}

.card-img-top {
  border-radius: 50px;
}

.card {
  margin: 45px;
  border-radius: 50px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 10px 10px 18px #5c6268;
  border-radius: 50px;
  margin-top: 35px;
  transition: 0.4s;
}

.card-title {
  text-align: center;
}

h6 {
  font-size: 25px;
}

section {
  display: flex;
}

/* .gradient-button {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #4830f0 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.gradient-button:hover {
  background-position: right center;
  color: rgb(94, 9, 116);
  font-size: 120%;
  transition: 0.3s;
} */

.gradient-button{
  transform: translate(5%, 0);
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 20px 30px;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
}

.gradient-button:hover {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}